
#slides ul{
	position:relative;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
#slides li {
	outline:1px solid #000;
	background:#000;
	
}
#slides .vertical li{
	text-align:center;

}


#slides .pictureGrid {
	height:700px;
	max-width: 1200px;
	margin:0px auto;

}



#slides {
	padding:30px 10px;
	background: #fff;
}

#slides img {
	
	
	
	width: 800px;
	position: absolute;
	left:50%;
	margin-left:-400px;
	top:50%;
	margin-top:-266px;
	/*min-width:400px;*/
	transform:  scale(.45,.45);
	-webkit-transform:  scale(.45,.45);
	-moz-transform: scale(.45,.45);
	
	transition: all 450ms linear;
	-webkit-transition: all 450ms linear;
	-moz-transition: all 450ms linear;

}


#slides  .gsActive img {
	transform:  scale(1,1);
	-webkit-transform:  scale(1,1);
	-moz-transform: scale(1,1);
	
	transition: all 450ms linear;
	-webkit-transition: all 450ms linear;
	-moz-transition: all 450ms linear;


}

#slides li {
	border: none;
	outline: none;
	position: relative;
	outline: 1px solid #000;
}
