
#slides ul{
	position:relative;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
#slides li {
	outline:1px solid #000;
	background:#000;
	/*background-color:#000000;*/
}
#slides .vertical li{
	text-align:center;
/*	min-width:10px; */
}


#slides .pictureGrid {
	height:700px;
	max-width: 1200px;
	margin:0px auto;
	/*padding:100px 0;*/
}



#slides {
	padding:30px 10px;
	background: #fff;
}

#slides img {
	
	
	
	width: 800px;
	position: absolute;
	left:50%;
	margin-left:-400px;
	top:50%;
	margin-top:-266px;
	/*min-width:400px;*/
	-webkit-transform:  scale3d(.45,.45,.45);
	-moz-transform: scale3d(.45,.45,.45);
	
	transition: all 400ms linear;
	-webkit-transition: all 400ms linear;
	-moz-transition: all 400ms linear;

}


#slides  .gsActive img {

	-webkit-transform:  scale3d(1,1,1);
	-moz-transform: scale3d(1,1,1);
	
	transition: all 450ms linear;
	-webkit-transition: all 450ms linear;
	-moz-transition: all 450ms linear;


}

#slides li {
	border: none;
	outline: none;
	position: relative;
	outline: 1px solid #000;
}


#slides  .gsActive {
	/*outline: 1px solid #fff;*/

}