@keyframes lightup {
  0% { 
	background-color: rgba(51,51,51,1);
  }
  50%   { 
  	background-color: rgba(51,51,51,1);
	
  }

  50% {
  	background-color: rgba(51,51,51,1);
  }
  
  50.75% {
  	background-color: rgba(68,0,76,0);
  }
  51% {
  	background-color: rgba(51,51,51,.75);
  }
  52% {
  	background-color: rgba(68,0,76,0);
  }



  53.5% {
  	background-color: rgba(51,51,51,1);	
  }



  70% {
  	background-color: rgba(51,51,51,1);
  }
  
  70.75% {
  	background-color: rgba(68,0,76,.25);
  }
  71% {
  	background-color: rgba(51,51,51,1);
  }
  72% {
  	background-color: rgba(68,0,76,0);
  }



  73.5% {
  	background-color: rgba(51,51,51,1);	
  }

  100% {
  	background-color: rgba(51,51,51,1);	
  }


   
}

@-webkit-keyframes lightup {
  0% { 
	background-color: rgba(51,51,51,1);
  }
  50%   { 
  	background-color: rgba(51,51,51,1);
	
  }

  50% {
  	background-color: rgba(51,51,51,1);
  }
  
  50.75% {
  	background-color: rgba(68,0,76,0);
  }
  51% {
  	background-color: rgba(51,51,51,.75);
  }
  52% {
  	background-color: rgba(68,0,76,0);
  }



  53.5% {
  	background-color: rgba(51,51,51,1);	
  }



  70% {
  	background-color: rgba(51,51,51,1);
  }
  
  70.75% {
  	background-color: rgba(68,0,76,.25);
  }
  71% {
  	background-color: rgba(51,51,51,1);
  }
  72% {
  	background-color: rgba(68,0,76,0);
  }



  73.5% {
  	background-color: rgba(51,51,51,1);	
  }

  100% {
  	background-color: rgba(51,51,51,1);	
  }


   
}


@-moz-keyframes lightup {
  0% { 
	background-color: rgba(51,51,51,1);
  }
  50%   { 
  	background-color: rgba(51,51,51,1);
	
  }

  50% {
  	background-color: rgba(51,51,51,1);
  }
  
  50.75% {
  	background-color: rgba(68,0,76,0);
  }
  51% {
  	background-color: rgba(51,51,51,.75);
  }
  52% {
  	background-color: rgba(68,0,76,0);
  }



  53.5% {
  	background-color: rgba(51,51,51,1);	
  }



  70% {
  	background-color: rgba(51,51,51,1);
  }
  
  70.75% {
  	background-color: rgba(68,0,76,.25);
  }
  71% {
  	background-color: rgba(51,51,51,1);
  }
  72% {
  	background-color: rgba(68,0,76,0);
  }



  73.5% {
  	background-color: rgba(51,51,51,1);	
  }

  100% {
  	background-color: rgba(51,51,51,1);	
  }

}










@-webkit-keyframes spinZ {
  from { -webkit-transform: rotateZ(0); }
  to   { -webkit-transform: rotateZ(360deg); }
}
	
@-moz-keyframes spinZ {
  from { -moz-transform: rotateZ(0); }
  to   { -moz-transform: rotateZ(360deg); }
}


@-webkit-keyframes spinX {
  from { -webkit-transform: rotateX(0); }
  to   { -webkit-transform: rotateX(360deg); }
}
	
@-moz-keyframes spinX {
  from { -moz-transform: rotateX(0); }
  to   { -moz-transform: rotateX(360deg); }
}

@-webkit-keyframes spinY {
  from { -webkit-transform: rotateY(0); }
  to   { -webkit-transform: rotateY(360deg); }
}
	
@-moz-keyframes spinY {
  from { -moz-transform: rotateY(0); }
  to   { -moz-transform: rotateY(360deg); }
}


@-webkit-keyframes pulse {
  from { 
  	-webkit-transform: scale3d(1,1,1) rotate(-8deg); 
  }
  to   { 
  	-webkit-transform: scale3d(1.15,1.15,1.15) rotate(-8deg); 
  }
}
	
@-moz-keyframes pulse {
  0% { 
	-moz-transform: scale3d(1,1,1) rotate(-8deg);
  }
  50%   { 
  	
	-moz-transform: scale3d(1.15,1.15,1.15) rotate(-8deg);
  }
  100%	{
  	-moz-transform: scale3d(1,1,1) rotate(-8deg);	
  }
}







@-webkit-keyframes spinZr {
  from { -webkit-transform: rotateZ(0); }
  to   { -webkit-transform: rotateZ(-360deg); }
}
	
@-moz-keyframes spinZr {
  from { -moz-transform: rotateZ(0); }
  to   { -moz-transform: rotateZ(-360deg); }
}






/*


@-moz-keyframes pulse2 {
  0% { 
	-moz-transform: scale3d(1,1,1) rotateZ(0);
  }
  50%   { 
  	
	-moz-transform: scale3d(1.15,1.15,1.15) rotateZ(-180deg);
  }
  100%	{
  	-moz-transform: scale3d(1,1,1) rotateZ(-360deg);	
  }
}
*/





* {
	cursor: url(../img/cursor.png);
}

body {
	font-family: "minion-pro";
	/*font-family: "franklin-gothic-urw";
	font-family: "mostra-nuova-alt-d";
	font-family: "teimer-web";*/
	font-weight: 700;
	background: #fff;
	margin:0;
	min-width: 1000px;
	cursor: url(../img/cursor.png), default;
}

a:hover {
	cursor: url(../img/pointer.png), pointer;
}

#masthead {
	position: relative;
	z-index: 3;
	/*padding:0 0 10px;*/
	background: #000;
	box-shadow: 0 0 5px #000;
	/*border-bottom: 6px solid #000;*/
	/*font-family: "minion-pro-condensed-subhead";*/
	/*font-family: "league-gothic";*/
	
	
	
}

#masthead nav {
	text-align: center;
	display: block;
	padding:6px 0 0px 0;
	background: #fff;
	text-transform: uppercase;
	font-size: 23px;
	line-height: 23px;
	word-spacing: 30px;
	/*border-top: 1px solid #999;*/
	letter-spacing: 1px;
	font-weight: 700;
	font-family: "minion-pro";
	/*font-family: "teimer-web";*/
	/*font-family: "mostra-nuova-alt-d";*/
}

#masthead nav a {
	color:#000;
	text-decoration: none;
	/*position: relative;*/
}

#masthead nav a .text_wrapper {
	position:relative;
}

#masthead nav a .hidden_text {
	visibility: hidden;
}

#masthead nav a .visible_text {
	position: absolute;
	/*display: none;*/
	/*height: 100%;*/
	/*width: 100%;*/
	left:0;
	top:2px;
}



#masthead nav a:hover .visible_text{

	-webkit-transform: scale3d(.75,.75,.75); 
	-moz-transform: scale3d(.75,.75,.75);
	/*text-shadow:1px 1px 0 #aaa;*/
	/*color:red;*/
}


#masthead nav a .bang {
	position: absolute;
	right:0;
	top:31px;
	width: 150px;
	height:90px;
	left: 50%;
	margin-left: -75px;
	background: red;
	
}

#masthead nav a .bang_text {
	font-family: 'cooper std';
	font-style: italic;
	font-size:33px;
	-webkit-transform: rotate(-2deg); 
	-moz-transform: rotate(-2deg);
	display: block;
	padding-top:30px;
	color:#fff;
	letter-spacing: 2px;
}

header {
	position:relative;
	background: #000;
	max-width: 1400px;
	margin:0 auto;
	/*background-image: url(../img/sky.png);*/
}

header h1 {
	text-align: center;
	font-size: 100px;
	width:700px;
	margin:0 auto;
	position: relative;
	z-index: 2;
	padding:0 0 0px;
}

header h1 img{
	display: block;
	width: 439px;
	margin: 0 auto;
	padding:5px 0;
}

header #} {
	position:absolute;
	z-index: 1;
	/*height:100%;*/
	/*width:200px;*/
	/*background:#999;*/
	right:50%;
	margin-right:220px;
	left:0px;

	font-family: "proxima-nova-extra-condensed";
	font-weight: 300;

	top:0;
	bottom:0px;
	top:0px;
}

#weather_box {
	width:130px;
	height:130px;
	margin-top:-65px;
	margin-left: -65px;
	top:50%;
	left:50%;
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	position: absolute;
	border:6px solid #fff;
	font-size: 15px;
}

#low {
	bottom: 10px;
	background: #fff;
	position: absolute;
	left:-45px;
	padding:10px;
	width:80px;
	font-weight: 300;
}


#high {
	top: 10px;
	background: #fff;
	position: absolute;
	left:-45px;
	padding:10px;
	font-weight: 300;
	width:80px;
}

#weather_box img {
	width:134px;
	position: absolute;
	top:-2px;
	z-index: 2;
	left:-2px;
	left:50%;
	margin-left: -67px;
	-moz-animation:spinZr 60s infinite linear; 
}

/*BOTTOM SECTION*/
#magazine {
	position: relative;
	background: #000;
}


#sidebar {
	width:250px;
	position:absolute;
	background: #fff;
	height:100%;
	z-index: 2;
	/*border-right: 1px solid #fff;*/
	box-shadow:0px 0 50px #000;
	-moz-box-shadow:0px 0 50px #000;
	font-family: "minion-pro";
	font-weight:700;
}


#news {
	color:#fff;
	padding:0px 0 0px;
	/*border-bottom: 10px solid #555;*/
	border-top: 1px solid #000;
	/*background:#000 ;*/
	position: relative;
}

#bangbangbang {
	position: absolute;

	top:10px;
	bottom:5px;
	width:35px;
	/*background-color:red;*/
	background-image:url(../img/bangbangbang.png);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: auto 100%;
	right:5px;
	max-height: 400px;
}

#news #updates_list a {
	color:navy;
}

#sidebar h2 {
	font-family: "proxima-nova-extra-condensed";
	font-size: 40px;
	line-height: 40px;
	/*white-space: nowrap;*/
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 900;
	color:#000;
	text-align: left;
	/*-webkit-transform: perspective(500px) rotateY(-25deg);*/
	/*-moz-transform: perspective(500px) rotateY(-25deg);*/
	
	
	padding:8px 10px 8px 10px;
	/*border-bottom: 5px solid #aaa;*/
	/*margin-bottom: 8px;*/
	

}

#updates_list {
	
	/*padding:0 5px;*/
	/*background: #000;*/
	position: relative;
	/*height:110px;*/
}

#updates_list li {
	/*position: absolute;*/
	font-weight: 600;
	
	/*letter-spacing: 1px;*/

	line-height: 25px;
	font-size:23px;

	/*font-family: georgia;*/
	/**/
	background: #fff;
	color: #000;
	/*margin:20px;*/
	margin-right: 40px;
	padding:8px 10px 7px 10px;
	border-top:1px dotted #000;
}

#updates_list li:first-line {
	/*font-weight: 700;*/
	/*font-size:20px;*/
	text-transform: uppercase;
}

#updates_list li:first-child {
	
	border-top: none;
}
/*

#updates_list li:nth-child(2) {
	line-height: 23px;
	font-size:20px;
}


#updates_list li:nth-child(3) {
	line-height: 23px;
	font-size:20px;
}
*/

/*#updates_list li:nth-child(even){

	-webkit-transform: perspective(500px) rotateY(-25deg);
	-moz-transform: perspective(500px) rotateY(-25deg);
}
*/
#updates_list li:nth-child(odd){

	/*-webkit-transform: perspective(500px) rotateY(25deg);*/
	/*-moz-transform: perspective(500px) rotateY(25deg);*/
}

/*#updates_list li:first-child {
	font-size: 16px;
	line-height: 19px; 
}*/


#updates_list li a {
	color:#000;
}

#pong {
	/*font-family: "mostra-nuova-alt-d";*/
	font-family: "teimer-web";
	font-family: "proxima-nova-extra-condensed";
}


#pong p {
	color:#000;
	line-height: 17px;

	font-size:15px;
	text-transform: uppercase;
	font-weight: 300;
	text-align: left;
	padding: 3px 10px 5px;
	font-family: "proxima-nova-extra-condensed";
}

/*TOC*/
#table_of_contents {

}



#table_of_contents .placeholder_content {
	/*height:800px;*/
	margin-left: 250px;
	background:#333;
	/*border-top: 1px solid #fff;*/
}


/*SIGNUP CSS*/

#signup {
	position:absolute;
	top:0;
	bottom: 0;
	right:0;
	left:50%;
	margin-left: 220px;
	/*background: red;*/
	z-index: 2;
	color:#fff;
}

#signup .callout {
	position: absolute;
	left:50%;
	margin-left: -100px;
	background: url(../img/bang.png);
	background-repeat: no-repeat;
	top:25px;
	bottom:-10px;
	width:200px;
	/*height:160px;*/
}


#signup .callout:hover {
	background: url(../img/bang_yellow.png);
	background-repeat: no-repeat;
	cursor: url(../img/pointer.png), pointer;
}



#signup .callout h2 {
	font-family: 'cooper std';
	font-style: italic;
	font-size:38px;
	padding-top:65px;
	text-align: center;
	-webkit-transform: rotate(-5deg); 
	-moz-transform: rotate(-5deg);
}

#signup .callout:hover h2 {
	text-shadow:2px 2px 0 #fff;
	color:#000;
}

#signup .callout p {
	/*font-family: 'cooper std';
	font-style: italic;*/
	font-size:14px;
	line-height: 19px;
	padding-top:5px;
	text-align: center;
	font-weight:400;
	white-space: nowrap;
	/*-webkit-transform: rotate(-5deg); */
	/*-moz-transform: rotate(-5deg);*/
	/*text-shadow:1px 1px 3px #999;*/
}

.hidden {
	display: none;
}


#issue {
	position: relative;
	z-index: 4;
	text-align: center;
	padding:0px 0 1px;
	/*border-bottom: 2px solid #000;*/
	background: none;
	/*color:#aaa;*/
}

#issue .content_wrapper {
	width:1000px;
	margin:0 auto;
}

#issue h1:after {
	content: '.';
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}

#issue h1 {
	/*font-weight: normal;*/
	font-size:30px;
	font-size: 40px;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 40px;
	padding:8px 0;
	letter-spacing: 2px;
	/*text-align: left;*/
	text-transform: uppercase;
	word-spacing: 20px;
	color: #fff;
	font-family: "proxima-nova-extra-condensed";
}

#issue h2 {
	font-family: "ff-prater-script-web";
	
	position: absolute;
	top:38px;
	font-size: 50px;
	line-height: 60px;
	/*left:50%;*/
	text-align: left;
	-webkit-transform: scale3d(1.15,1.15,1.15) rotate(-8deg); 
	-moz-transform: scale3d(1.15,1.15,1.15) rotate(-8deg);


	animation:pulse 2s infinite linear;
	-moz-animation:pulse 2s infinite linear; /* Firefox */
	-webkit-animation:pulse 2s infinite linear; /* Safari and Chrome */
	
	font-weight: normal;
	left: 250px;
	color:#fff;
	text-shadow:-4px 4px 0 #000;
}
/*<h1><span id="the_wrapper">The</span> <span id="month">September</span> <span id="issue_text_wrapper">Issue</*/



#issue h1 span.word_wrapper { 
	/*visibility: visible;*/
	position: relative;
}

#issue h1 span.hidden_text {
	visibility: hidden;
}


#issue h1 span.visible_text {
	position: absolute;
}



footer {
	/*background: #fff;*/
	padding:25px 0 15px;
	border-top: 15px solid #000;
	box-shadow: 0 0 50px #000;
	position: relative;
	z-index: 3;
	animation:lightup 20s infinite linear;
	-moz-animation:lightup 20s infinite linear; 
	-webkit-animation:lightup 20s infinite linear;
	/*background-color:#000;

	color: #fff;*/
}

footer h2 {
	
	font-family: "proxima-nova-extra-condensed";
	
}


#contributors {
	padding:25px 0 5px;
	/*width: 768px;*/
	border-bottom: 1px dotted #000;
	/*margin: 0 75px;*/

}

footer h3 {
	text-align: center;
	/*color:#fff;*/
	padding: 8px 0;
	
	font-family: "proxima-nova-extra-condensed";
	font-size: 23px;
	line-height: 23px;
	/*font-size: 15px;*/

	font-weight: 300;
	text-transform: uppercase;
	/*font-style: italic;*/
}

#contributors h2 {
	
	/*padding: 0 20px;*/
	font-size: 60px;
	line-height: 60px;
	text-align: center;
	font-weight: 900;
	/*display: inline;*/
	/*white-space: nowrap;*/
}

#contributors h2 span {
	word-spacing: normal;
	white-space: nowrap;
}

#people {
	text-align: center;
	
	word-spacing: 20px;
}

#editors {

	/*width: 768px;*/
	margin: 0 75;
	padding:0 0 5px;
	border-bottom: 1px dotted #000;
}



#editors ul {
	word-spacing: 15px;
	font-size: 40px;
	line-height: 40px;

	font-weight: 900;
	text-align: center;
}

#editors li {
	display: inline;
	word-spacing: normal;
	white-space: nowrap;
}

#editors li h2 {
	display: inline;
}





footer h1 {
	text-align: center;
	padding:7px 0 7px 0;
	text-transform: uppercase;
	font-size: 20px;

	word-spacing: 30px;
	/*letter-spacing: 1px;*/
	

	font-weight: 700;
	font-family: 'cooper std';
	/*font-style: italic;*/
	font-size:38px;
	/*-webkit-transform: rotate(-5deg); 
	-moz-transform: rotate(-5deg);*/
	/*font-family: "minion-pro";*/
}

footer h1 span {
	word-spacing: normal;
}

#salutation {
	text-align: center;
	font-family: "proxima-nova-extra-condensed";
	font-size: 23px;
	line-height: 23px;
	/*font-size: 15px;*/
	padding: 25px 0;
	font-weight: 300;
	text-transform: uppercase;
}