header .content_wrapper:after {
	content: '.';
	height:0;
	clear:both;
	visibility: hidden;
	display: block;
}

header a {
	color:#000;
}

header {
	padding:5px;
	position: relative;
	height:33px;
	z-index: 4;
	background: #fff;
}

header hr {
	position: absolute;
	top:15px;
	left:40px;
	right:10px;
	border-color:#000;
	margin-top:0;
	margin-bottom:0;
}

header hr.left {
	position: absolute;
	top:15px;
	left:40px;
	right:50%;
	margin-right:100px;
	border-color:#000;
	margin-top:0;
	margin-bottom:0;
}

header hr.right {
	position: absolute;
	top:15px;
	left:50%;
	right:10px;
	margin-left:100px;
	border-color:#000;
	margin-top:0;
	margin-bottom:0;
}

header .content_wrapper {
	max-width: 768px;
	

}

header h1 {
	height:38px;
	width:20px;
	position: relative;
	animation:pulse 2s infinite linear;
	-moz-animation:pulse 2s infinite linear; /* Firefox */
	-webkit-animation:pulse 2s infinite linear;  Safari and Chrome 
	animation-play-state:paused;
	-moz-animation-play-state:paused; /* Firefox */
	-webkit-animation-play-state: paused; /* Safari and Chrome */
}



header:hover h1 {
	animation-play-state:running;
	-moz-animation-play-state:running; /* Firefox */
	-webkit-animation-play-state: running; /* Safari and Chrome */
	
}
header h1 {
	padding-left: 5px;
	position: relative;
	z-index: 2;
}

 header h2 {
	position: absolute;
	right: 0;
	left:0;
	top:5px;
	text-align: center;
	text-transform: uppercase;
	font-family: "proxima-nova-extra-condensed", arial, sans-serif;
	font-weight: 200;
	font-size: 16px;
}


header h3 {
	position: absolute;
	z-index: 2;
	left:0;
	top:5px;
	text-align: center;
	text-transform: uppercase;
	font-family: "proxima-nova-extra-condensed", arial, sans-serif;
	font-weight: 200;
	font-size: 18px;
	left:150px;
	right:150px;
}

header h3 span {
	background: #fff;
	padding:5px;
}

/*SHARE COMPONENTS*/
#share {
	position:absolute;
	top:0;
	width:300px;
	height: 100%;
	left: 260px;
	line-height:normal;
	
}

#share .share_button {
	background: #fff;
	line-height:normal;
}

#share .twitter {
	padding:5px 5px 0;
	left:85px;
	background: #fff;
	position: absolute;
}


#share .facebook {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 3px 5px 0px;
 	width:80px;   
 	position: absolute;
 	left:0;
    overflow: visible;
}


#share .facebook .fb-like span {
	width: 450px !important;
}
